@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme{
    --color-bg-primary: rgba(23, 24, 25, 1);
    --color-bg-secondary: rgba(30, 27, 24, 1);

    --color-primary: rgba(203, 118, 71, 1);
}

*{
    font-family: "Nunito", sans-serif;
}

body{
    background-color: var(--color-bg-primary);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

@layer components{
    .section-container{
        @apply container mx-auto px-6 md:px-8 py-10;
    }
    .heading{
        @apply text-3xl md:text-4xl font-medium text-white tracking-wide;
    }
    .title{
        @apply text-primary md:text-xl leading-relaxed;
    }
    .nav-link,
    .footer-link
    {
        @apply hover:text-primary transition duration-300 text-white  md:text-lg;
    }

    .nav-link.active{
        @apply !text-primary ;
    }
    .btn{
        @apply bg-primary z-10 px-4 py-2 rounded-lg overflow-hidden text-white hover:text-primary  font-semibold relative transition duration-300 cursor-pointer;
    }
    .btn::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color: white;
        z-index: -1;
        transition: width 0.3s ease;
    }

    .btn:hover::before{
        width: 100%;
    }

    .hero {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
                    url('./assets/home_img.png'); 
    }
    .swiper-pagination-bullet{
        @apply !bg-gray-100;
    }
    .swiper-pagination-bullet-active {
        background: var(--color-primary) !important; 
    }

    .strength-card{
        @apply flex flex-col justify-center items-center gap-4 text-center bg-bg-secondary p-7 rounded-lg
                transform outline-2 outline-transparent hover:-translate-y-3 hover:outline-primary transition-all duration-300;
    }

    .strength-card:hover img,
    .contact-card:hover img{
        transform: rotateY(360deg);
        transition: transform 0.5s ease;
    }
    .item-card::before{
        content: '';
        position: absolute;
        background: var(--color-bg-secondary);
        height: 100%;
        width: 100%;
        z-index: -10;
        border-radius: 8px;
        top: -70%;
    }
    .price-tag::after {
        content: "";
        position: absolute;
        bottom: -13px; 
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 13px solid white; 
    }
    .contact-card{
        @apply lg:min-h-[400px] xl:min-h-auto w-full md:w-[45%] lg:w-[30%] bg-bg-secondary  border-2 border-transparent
        flex flex-col  justify-center items-center text-center py-10 md:py-14 rounded-lg
        transform transition duration-300 ease-in-out hover:-translate-y-2.5 hover:border-primary;
    }
}